<div ng-controller="homeController" class="homeWrapper">
	<div class="searchBar">
		<input class="searchInput" id="searchValue" placeholder="Zoek op vereniging of naam"></input>
		<button class="submitSearch" ng-click="search()">
			<div class="magnifyGlass">
				&#9906;
			</div>
		</button>
	</div>
	<div class="row searchFieldSeperator"></div>
	<div class="fieldFilterWrapper">
		<button
			class="fieldFilter"
			ng-click="setActiveButton(0)"
			ng-class="{activeFieldFilterButton: activeFieldFilter == 0}">
			<div class="fieldTextImageWrapper" ng-class="{activeFieldTextImageWrapper: activeFieldFilter == 0}">
				<div class="fieldText">1x</div>
				<img src="assets/images/rower.png" class="fieldImg"></img>
			</div>
		</button>
		<button
			class="fieldFilter"
			ng-click="setActiveButton(1)"
			ng-class="{activeFieldFilterButton: activeFieldFilter == 1}">
			<div class="fieldTextImageWrapper" ng-class="{activeFieldTextImageWrapper: activeFieldFilter == 1}">
				<div class="fieldText">2x</div>
				<img src="assets/images/rower.png" class="fieldImg"></img>
			</div>
		</button>
		<button
			class="fieldFilter"
			ng-click="setActiveButton(2)"
			ng-class="{activeFieldFilterButton: activeFieldFilter == 2}">
			<div class="fieldTextImageWrapper" ng-class="{activeFieldTextImageWrapper: activeFieldFilter == 2}">
				<div class="fieldText">4x</div>
				<img src="assets/images/rower.png" class="fieldImg"></img>
			</div>
		</button>
		<button
			class="fieldFilter"
			ng-click="setActiveButton(3)"
			ng-class="{activeFieldFilterButton: activeFieldFilter == 3}">
			<div class="fieldTextImageWrapper" ng-class="{activeFieldTextImageWrapper: activeFieldFilter == 3}">
				<div class="fieldText">8x</div>
				<img src="assets/images/rower.png" class="fieldImg"></img>
			</div>
		</button>
	</div>

	<div class="fields" ng-show="currentRegatta.fields">
		<div class="menFieldsWrapper">
			<div class="fieldsWrapper">
				<div class="fieldTitle">Zware Heren</div>
				<button class="singleField" ng-repeat="field in getFields(activeFieldFilter, '', 'D', 'L', 'M')">{{field.fieldnameshort}}</button>
			</div>
			<div class="fieldsWrapper">
				<div class="fieldTitle">Lichte Heren</div>
				<button class="singleField" ng-repeat="field in getFields(activeFieldFilter, 'L', 'LD', 'XXXX', 'XXXX')">{{field.fieldnameshort}}</button>
			</div>
		</div>
		<div class="womenFieldsWrapper">
			<div class="fieldsWrapper">
				<div class="fieldTitle">Dames</div>
				<button class="singleField" ng-repeat="field in getFields(activeFieldFilter, 'D', 'XXXX', 'XXXX', 'XXXX')">{{field.fieldnameshort}}</button>
				<button class="singleField" ng-repeat="field in getFields(activeFieldFilter, 'M', 'XXXX', 'XXXX', 'XXXX')">{{field.fieldnameshort}}</button>
			</div>
			<div class="fieldsWrapper">
				<div class="fieldTitle">Lichte Dames</div>
				<button class="singleField" ng-repeat="field in getFields(activeFieldFilter, 'LD', 'XXXX', 'XXXX', 'XXXX')">{{field.fieldnameshort}}</button>
			</div>
		</div>
	</div>

</div>
