<div ng-controller="blocksController" class="blocksWrapper">
	<div class="full-height"></div>
	<div ng-repeat="block in blocks" class="singleBlockWrapper">
		<div class="blockTitleWrapper">
			<div class="blockTitle" ng-click="printBlock(block)">{{"blok " + block.blockNumber + " -"}}</div>
			<div class="blockStartTime">{{getTimeTitle(block)}}</div>
		</div>
		<div class="blockDescriptionWrapper">
			<div class="blockDescriptionField">Veld</div>
			<div class="blockDescriptionTime">Geschatte Start Tijd</div>
		</div>
		<div ng-repeat="field in block.fields" class="blockFieldWrapper" ng-class="{darkFieldBG: $index%2 === 1}">
			<button class="blockFieldName" ng-click="goToField(field)">{{field.fieldnameshort}}</button>
			<div class="blockFieldStartTime">{{getApproxStartTime(field, $index)}}</div>
		</button>
	</div>
</div>
