<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../styles/shared-styles.html">
<link rel="import" href="../styles/shared-styles-tables.html">
<link rel="import" href="../services/reggata.html">
<link rel="import" href="../clubs/oars.html">
<link rel="import" href="noMatch.html">

<dom-module id="club-list">
  <template>
    <style include="shared-styles shared-styles-tables">
    </style>
    <template is="dom-if" if="[[!clubs.error]]">
      <table class="table">
        <thead>
          <tr>
            <th>
            </th>
            <th>
                Code
            </th>
            <th>
                Vereniging
            </th>
        </thead>
        <template is="dom-repeat" items="[[clubs.clubs]]" as="club">
          <tr on-click="_openMatch" style="cursor: pointer;">
            <td>
              <oars-img club="[[club.clubshort]]"></oars-img>
            </td>
            <td>
                [[club.clubshort]]
            </td>
            <td>
                [[club.clubname]]
            </td>
          </tr>
        </template>
      </table>
    </template>
    <template is="dom-if" if="[[clubs.error]]">
      <no-match></no-match>
    </template>
  </template>


  <script>
    Polymer({
      is: 'club-list',
      _openMatch: function(e) {
        this.set('path', '/' + this.path.split('/')[1] + '/' + this.path.split('/')[2] + '/' + e.model.club.clubshort + '/' + this.target);
      },
      properties: {
        clubs: {
          type: Array,
          notify: true,
          readOnly: false,
        },
        path: {
          type: String,
          notify: true,
          readOnly:false,
        },
        target: {
          type: String,
          notify: false,
          readOnly: false,
          value: 'vereniging',
        }
      },
    });
  </script>
</dom-module>
