<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../styles/shared-styles.html">


<dom-module id="feedback-modal">
    <template>

        <style include="shared-styles">
            .header {
                width: calc(100% - 48px);
                border-bottom: 1px solid #0F0F0F;
            }

            .wrapper {
                display: flex;
            }

            .headerItem {
                width: 50%;
                font-weight: 600;
            }

            .right {
                width: 50%;
            }

            .form-control {
                width: 90%;
                margin-right: auto;
                margin-left: auto;
            }

            .form {
                width: 90%;
            }

            .dropdown {
                background-color: #FFFFFF;
            }


        </style>
        <paper-dialog id="modal" modal>
            <div class="header">
                <h4> Feedback leveren</h4>
                <p>Help ons de uitslagen pagina te verbeteren!</p>
            </div>
            <div class="wrapper">
                <div class="headerItem"> Soort feedback </div>
                <select class="right dropdown" id="type">
                    <option value=1>Ideeën</option>
                    <option value=2>Bugs</option>
                    <option value=3>Anders</option>
                </select>
            </div>
            <div class="wrapper">
                <div class="headerItem">Email </div><input class="right" type="email" id="email">
            </div>

            <div class="headerItem">Beschrijving</div>
            <div class="form-control">
                <textarea class="form" rows="5" id="description" maxlength=1000 required="required" placeholder="Beschrijf hier je idee of bug. In het geval van bugs helpt het enorm als je precies beschrijft hoe het te reproduceren is!"></textarea>
            </div>
            <div class="buttons">
                <paper-button class="hover" dialog-dismiss>Sluiten</paper-button>
                <paper-button class="hover" on-click="_sendFeedback">Feedback verzenden</paper-button>
            </div>
        </paper-dialog>
    </template>


    <script>
        class FeedbackModal extends Polymer.Element {
            static get is() {
                return 'feedback-modal';
            }

            connectedCallback() {
                super.connectedCallback();
            }

            _sendFeedback(e) {
                const type = this.$.type.value;
                const message = this.$.description.value;
                const link = window.location;
                const email = this.$.email.value;
                if (message.length < 20 || message.length < 1000) {
                    this.error = true;
                    return;
                }
                fetch('https://beta.hoesnelwasik.nl/api/feedback', {
                    headers: {'Content-Type': 'application/json'},
                    method: 'POST',
                    body: JSON.stringify({'type': type, 'message': message, 'link': link.href, 'email': email}),
                    mode: 'no-cors'
                }).then(
                    function(res) {
                    }
                );
                this.toggle();
            }

            /**
             * Toggle the modal window
             */
            toggle() {
                this.active = true;
                this.$.modal.toggle();
            }

            static get properties() {
                return {
                    error: {
                        type: Boolean,
                        notify: true,
                        readOnly: false
                    }
                };
            }

        }

        customElements.define(FeedbackModal.is, FeedbackModal);
    </script>
</dom-module>
