<!--Needs to be update to new style-->

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../teams/lastResultTeams.html">
<!--<link rel="import" href="../teams/lastResultTeamsIE.html">-->
<link rel="import" href="../services/lastResults.html">
<link rel="import" href="../styles/shared-styles-tables.html">
<link rel="import" href="../styles/shared-styles-fields.html">
<link rel="import" href="../styles/shared-styles-button.html">
<link rel="import" href="../styles/shared-styles.html">

<dom-module id="last-result">
    <template>
        <style include="shared-styles-tables shared-styles shared-styles-fields shared-styles-button">
            .breakingnews {
                padding: 5px;
                margin: 5px;
                font-size: 18px;
                font-weight: 600;
                text-align: center;
            }

            .matchHeader {
                text-align: center;
            }

            .buttonText {
                margin-left: auto;
                margin-right: auto;
            }

            .inactive {
                /*color: #2F2F2F;*/
                opacity: 0.5;
            }
            
        </style>
        <h2 on-click="_goToMatch" class="matchHeader">
            [[match.match]]
        </h2>
        <template is="dom-if" if=[[news]]>
            <div class="breakingnews">
                [[match.message]]
            </div>
        </template>
        <template is="dom-if" if="[[!displayError]]">
            <div class="fieldFilterWrapper">
                <template is="dom-repeat" items="[[match.setting.name]]">
                    <button style$="[[_calcWidth(match.setting.name)]]" class$="[[_fieldClassActive(index,splash)]]"
                            on-click="_setActive"><div class="buttonText">[[item]]</div>
                    </button>
                </template>
            </div>
            <iron-pages selected="[[splash]]">
                <template is="dom-if" if="[[_displayLocation(1)]]">
                    <last-result-table splash=1 no-teams=[[match.error]]
                                       teams=[[match.teams.splash1]]></last-result-table>
                </template>
                <template is="dom-if" if="[[_displayLocation(2)]]">
                    <last-result-table splash=2 no-teams=[[match.error]]
                                       teams=[[match.teams.splash2]]></last-result-table>
                </template>
                <template is="dom-if" if="[[_displayLocation(3)]]">
                    <last-result-table splash=3 no-teams=[[match.error]]
                                       teams=[[match.teams.splash3]]></last-result-table>
                </template>
                <template is="dom-if" if="[[_displayLocation(4)]]">
                    <last-result-table splash=4 no-teams=[[match.error]]
                                       teams=[[match.teams.splash4]]></last-result-table>
                </template>
                <last-result-table splash=5 no-teams=[[match.error]]
                                   teams=[[match.teams.totaltime]]></last-result-table>
            </iron-pages>
        </template>
        <template is="dom-if" if="[[displayError]]">
            <div style="color:#FFF; text-align:center;">
                Er is helaas op dit moment geen live resultaten beschikbaar.
            </div>
        </template>
    </template>


    <script>
        class LastResult extends Polymer.Element {
            static get is() {
                return 'last-result';
            }

            /**
             * Init the settings
             */
            connectedCallback() {
                this.news = false;
                super.connectedCallback();
                requestData(this);
                const self = this;
                setInterval(function () {
                    requestData(self);
                }, 5000);
            }

            /**
             * Update message or error
             */
            _matchUpdate(match) {
                if (this.match) {
                    if (this.splash === undefined || this.splash === -1)
                        this.splash = this.match.setting.name.length - 1;
                    this.displayError = this.match.error;
                    this.news = this.match.message !== '';
                }
            }

            /**
             * If a match has multiple splash location make it possible to view them
             */
            _displayLocation(splash) {
                return splash < this.match.setting.name.length;
            }

            /**
             * Goto the match which is live
             */
            _goToMatch(e) {
                this.path = '/' + this.match.setting.match + '/' + this.match.setting.year;
            }

            _setActive(e) {
                this.splash = e.model.index;
            }

            _fieldClassActive(item, splash) {
                if (item === splash) return 'activeFieldFilterButton fieldFilter';
                return 'fieldFilter inactive';
            }

            _calcWidth(n) {
                return 'width: ' + (100 / n.length) + '%;';
            }

            static get properties() {
                return {
                    splash: {
                        type: Number,
                        notify: true,
                        readOnly: false,
                        value: -1
                    },
                    match: {
                        type: Array,
                        notify: true,
                        readOnly: false
                    },
                    displayError: {
                        type: Boolean,
                        notify: true,
                        readOnly: false
                    },
                    path: {
                        type: String,
                        notify: true,
                        readOnly: false
                    }
                };
            }

            static get observers() {
                return ['_matchUpdate(match.*)'];
            }
        }

        customElements.define(LastResult.is, LastResult);
    </script>
</dom-module>
