<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../teams/lastResultTeams.html">
<link rel="import" href="../services/lastResults.html">
<link rel="import" href="../styles/shared-styles-tables.html">
<link rel="import" href="../styles/shared-styles.html">

<dom-module id="last-result">
  <template>
    <style include="shared-styles-tables shared-styles">
      .breakingnews {
        color: #FFF;
        padding: 5px;
        margin: 5px;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
      }
      .matchHeader {
        color: #FFF;
        text-align: center;
      }
    </style>
    <h2 class="matchHeader">
      [[match.match]]
    </h2>
    <template is="dom-if" if=[[news]]>
      <div class="breakingnews">
        [[match.message]]
      </div>
    </template>
    <template is="dom-if" if="[[!displayError]]">
      <paper-tabs selected="{{splash}}">
        <template is="dom-repeat" items="[[match.setting.name]]">
          <paper-tab>[[item]]</paper-tab>
        </template>
      </paper-tabs>
      <iron-pages selected="[[splash]]">
        <template is="dom-if" if="[[displayLocation(1)]]">
          <last-result-table data-splash=1 splash-count=[[match.setting.rounds]] teams=[[match.teams.splash1]]> </last-result-table>
        </template>
        <template is="dom-if" if="[[displayLocation(2)]]">
          <last-result-table data-splash=2 splash-count=[[match.setting.rounds]] teams=[[match.teams.splash2]]> </last-result-table>
        </template>
        <template is="dom-if" if="[[displayLocation(3)]]">
          <last-result-table data-splash=3 splash-count=[[match.setting.rounds]] teams=[[match.teams.splash3]]> </last-result-table>
        </template>
        <template is="dom-if" if="[[displayLocation(4)]]">
          <last-result-table data-splash=4 splash-count=5 teams=[[match.teams.splash4]]> </last-result-table>
        </template>
        <last-result-table data-splash=5 splash-count=[[match.setting.rounds]] teams=[[match.teams.totaltime]]> </last-result-table>
      </iron-pages>
    </template>
    <template is="dom-if" if="[[displayError]]">
      <div style="color:#FFF; text-align:center;">
        Er is helaas op dit moment geen live resultaten beschikbaar.
      </div>
    </template>
  </template>


  <script>
    Polymer({
      is: 'last-result',
      displayError: false,
      news: false,
      ready: function() {
        var self = this;
        reqeustData(self);
        setInterval(function() {
          reqeustData(self)
        },5000);
      },
      _matchUpdate: function() {
        if (this.match) {
          this.displayError = this.match.error !== false;
          this.news = this.match.message !== '';
        }
      },
      displayLocation: function(splash) {
        return splash < this.match.setting.rounds;
      },
      properties: {
        splash: {
          type: Number,
          notify: true,
          readOnly: false,
          value:0,
        },
        match: {
          type: Array,
          notify: true,
          readOnly: false,
          observer: '_matchUpdate',
        }
      },
    });
  </script>
</dom-module>
