<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../services/reggata.html">
<link rel="import" href="../fields/field-list-tab-boat.html">
<link rel="import" href="../fields/field-list-block-list.html">
<link rel="import" href="clubs.html">

<dom-module id="main-match">
    <template>
        <iron-pages selected="[[view]]">
            <field-list-tab-boat path="{{route}}" target="[[target]]" fields=[[fields]]></field-list-tab-boat>
            <field-list-block-list path="{{route}}" target="[[target]]" fields=[[fields]]></field-list-block-list>
            <club-list path="{{route}}" target="[[target]]" clubs=[[clubs]]></club-list>
        </iron-pages>
    </template>


    <script>
        class MainMatch extends Polymer.Element {

            static get is() {
                return 'main-match';
            }

            connectedCallback() {
                super.connectedCallback();
            }

            /**
             * If route has updated request new data and select correct view
             */
            _updateRoute(newValue, oldValue) {
                if (this.route.split('/').length < 3) {
                    requestFields(this, this.route.split('/')[1], 0);
                    requestClubs(this, this.route.split('/')[1], 0);
                    this.target = 'uitslagen';
                    return;
                }
                requestFields(this, this.route.split('/')[1], this.route.split('/')[2]);
                requestClubs(this, this.route.split('/')[1], this.route.split('/')[2]);
                this.target = this.route.split('/')[3];
                if (this.target === undefined) this.target = 'uitslagen';
                if (this.view === 2) this.target = 'vereniging';
            }

            _updateMatch(newValue, oldValue) {
                document.querySelector('my-app').setMatch(this.fields.name);
            }

            static get properties() {
                return {
                    route: {
                        type: String,
                        notify: true,
                        readOnly: false,
                        observer: '_updateRoute'
                    },
                    target: {
                        type: Number,
                        notify: true,
                        readOnly: false
                    },
                    fields: {
                        type: Array,
                        notify: true,
                        readOnly: false,
                        observer: '_updateMatch'
                    },
                    iframe: {
                        type: Boolean,
                        notify: true,
                        readOnly: false
                    },
                    view: {
                        type: String,
                        notify: true,
                        readOnly: false
                    },
                    clubs: {
                        type: Array,
                        notify: true,
                        readOnly: false
                    }
                };
            }
        }

        // Register custom element definition using standard platform API
        customElements.define(MainMatch.is, MainMatch);
    </script>
</dom-module>
