<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../styles/shared-styles.html">
<link rel="import" href="../services/reggata.html">
<link rel="import" href="../fields/field-list-boat.html">
<link rel="import" href="../fields/field-list-block.html">
<link rel="import" href="../teams/teamlist.html">
<link rel="import" href="clubs.html">


<dom-module id="main-match">
  <template>
    <style include="shared-styles">
    </style>

    <paper-tabs selected="{{target}}">
      <paper-tab>Uitslagen</paper-tab>
      <paper-tab>Loting</paper-tab>
      <paper-tab>Vereniging</paper-tab>
      <paper-tab>Inschrijving</paper-tab>
    </paper-tabs>

    <iron-pages selected="[[target]]">
      <field-list-boat path="{{route}}" target="uitslagen" fields=[[fields]]></field-list-boat>
      <field-list-block path="{{route}}" target="loting" fields=[[fields]]></field-list-block>
      <club-list path="{{route}}" target="vereniging" clubs=[[clubs]]></club-list>
      <field-list-boat path="{{route}}" target="inschrijving" fields=[[fields]]></field-list-boat>
    </iron-pages>
    <team-list view=0 path="{{route}}"></team-list>
  </template>


  <script>
    Polymer({
      is: 'main-match',
      _updateRoute: function() {
        requestFields(this,this.route.split('/')[1],this.route.split('/')[2]);
        requestClubs(this,this.route.split('/')[1],this.route.split('/')[2]);
        switch (this.route.split('/')[3]) {
          case 'uitslagen':
            this.target = 0;
            break;
          case 'loting':
            this.target = 1;
            break;
          case 'vereniging':
            this.target = 2;
            break;
          case 'inschrijving':
            this.target = 3;
            break;
          default:
            this.target = 0;
        }
      },
      properties: {
        route: {
          type: String,
          notify: true,
          readOnly: false,
          observer: '_updateRoute',
        },
        target: {
          type: Number,
          notify: true,
          readOnly: false,
        }
      },
    });
  </script>
</dom-module>
