<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../styles/shared-styles.html">
<link rel="import" href="../services/reggata.html">

<dom-module id="match-list">
    <template>
        <style include="shared-styles">
            .subitem[data-selected = "false"] {
                display: none;
            }

            .subitem[data-selected = "true"] {
                display: inherit;
            }

            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
            }

            li.main {
                line-height: 40px;
                /*border-top: 1px solid rgba(0, 0, 0, .12);*/
                padding: 0 36px;
                margin: 0;
            }

            li.main:hover {
                background-color: #ECECEC;
            }

            .selected {
                color: #f50057;
                border-left: 4px solid #f50057;
            }
        </style>
        <ul>
            <template is="dom-repeat" items="[[reggataList]]" as="match" sort="_alhpabetSort">
                <li style="cursor: pointer;" class$="[[_getClass(match,currentMatch)]]" on-click="_openMatch">
                    [[match.regattaname]]
                </li>
            </template>
        </ul>
    </template>


    <script>
        // Extend Polymer.Element base class
        class MatchList extends Polymer.Element {

            static get is() {
                return 'match-list';
            }

            connectedCallback() {
                super.connectedCallback();
                requestReggataList(this);
            }


            _getClass(match, shortname) {
                if (shortname === undefined) return;
                if (this._selectedMatch(match, shortname.split(' ')[0]))
                    return 'main selected';
                return 'main';
            }

            /**
             * Is a match opened?
             */
            _selectedMatch(match, shortname) {
                return match.shortname === shortname;
            }

            /**
             * Create a list of regattas
             */
            _createList(newValue, oldValue) {
                this.reggataList = fillFields(this.regattas.regattas, 'regattaname');
            }

            /**
             * Sort
             */
            _alhpabetSort(a, b) {
                return a.regattaname.localeCompare(b.regattaname);
            }

            /**
             * Open a match
             */
            _openMatch(e) {
                this.set('route.path', e.model.match.shortname + '/' + e.model.match.jaar);
            }

            static get properties() {
                return {
                    regattas: {
                        type: Array,
                        notify: true,
                        readOnly: false,
                        observer: '_createList'
                    },
                    reggataList: {
                        type: Array,
                        notify: false,
                        readOnly: false
                    },
                    route: {
                        type: Object,
                        notify: true,
                        readOnly: false
                    },
                    currentMatch: {
                        type: String,
                        notify: true,
                        readOnly: false
                    }
                };
            }
        }

        // Register custom element definition using standard platform API
        customElements.define(MatchList.is, MatchList);
    </script>
</dom-module>
