<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../styles/shared-styles.html">
<link rel="import" href="../services/reggata.html">

<dom-module id="match-list">
  <template>
    <style include="shared-styles">
    .sub-item[data-selected = "false"] {
      display: none;
    }
    .sub-item[data-selected = "true"] {
      display:inherit;
    }
    </style>
    <template is="dom-repeat" items="[[reggataList]]" as="match" sort="_alhpabetSort">
      <div on-click="_toggleMatch">[[match.regattaname]]</div>
      <div class="sub-item" data-selected="false">
        <template is="dom-repeat" items="[[regattas.regattas]]" as="year" filter="{{getYears(match)}}" sort="_yearSort">
          <div on-click="_openMatch">[[year.jaar]]</div>
        </template>
      </div>
    </template>
  </template>


  <script>
    Polymer({
      is: 'match-list',
      ready: function() {
        var self = this;
        reqeustReggataList(self);
      },
      getYears: function(basematch) {
        return function(match) {
            return basematch.shortname === match.shortname;
        }
      },
      _selectedMatch: function() {
        console.log('TODO select a match from the list');
      },
      _createList: function() {
        this.reggataList = fillFields(this.regattas.regattas, 'regattaname');
      },
      _alhpabetSort: function(a,b) {
        return a.regattaname.localeCompare(b.regattaname);
      },
      _yearSort: function(a,b) {
        return -1 * a.jaar.localeCompare(b.jaar);
      },
      //TODO might want to make this dynamiced coded
      _toggleMatch: function(e) {
        var val = e.target.nextSibling.nextSibling.getAttribute('data-selected');
        (val === 'false') ? val = 'true' : val = 'false';
        e.target.nextSibling.nextSibling.setAttribute('data-selected',val);
      },
      _openMatch: function(e) {
        this.route.path = e.model.year.shortname + '/' + e.model.year.jaar + '/';
      },
      properties: {
        currentMatch: {
          type: Array,
          notify: true,
          readOnly: false,
          observer: '_selectedMatch',
        },
        regattas: {
          type: Array,
          notify:true,
          readOnly:false,
          observer: '_createList',
        },
        reggataList: {
          type: Array,
          notify:false,
          readOnly:false,
        },
        route: {
          type: Array,
          notify:true,
          readOnly:false,
        }
      },
    });
  </script>
</dom-module>
