<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../styles/shared-styles-tables.html">
<link rel="import" href="../styles/shared-styles.html">
<link rel="import" href="../app/time.html">


<dom-module id="team-modal">
  <template>

    <style include="shared-styles-tables shared-styles">
      h2 {
        color: #FFF;
        background-color: #000;
        margin:0 !important;
        padding:10px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        min-width: 200px;
      }
      .hover-table {
        position: relative;
        text-align: left;
        width: auto;
        margin: auto;
      }
      </style>
    <paper-dialog id="modal" modal>
    <h2> [[team.teamname]]</h2>
      <paper-dialog-scrollable>
          <table class="table hover-table">
          <tbody>
            <template is="dom-if" if=[[_show(team.clubname)]]>
              <tr>
                <td><b>Vereniging</b></td>
                <td>[[team.clubname]]</td>
              </tr>
            </template>
            <template is="dom-if" if=[[_show(team.backnumber)]]>
              <tr>
                <td><b>Rugnummer</b></td>
                <td>[[team.backnumber]]</td>
              </tr>
            </template>
            <template is="dom-if" if=[[_show(team.fieldnameshort)]]>
              <tr>
                <td><b>Veld</b></td>
                <td>[[team.fieldnameshort]]</td>
              </tr>
            </template>
            <template is="dom-if" if=[[_showSubField(team.fieldnameshortsub,team.fieldnameshort)]]>
              <tr>
                <td><b>Subveld</b></td>
                <td>[[team.fieldnameshortsub]]</td>
              </tr>
            </template>
            <template is="dom-if" if=[[_showTime(team.splash1)]]>
              <tr>
                <td><b>Tussentijd 1</b></td>
                <td>[[_displayTime(team.splash1,0)]]</td>
              </tr>
            </template>
            <template is="dom-if" if=[[_showTime(team.splash2)]]>
              <tr>
                <td><b>Tussentijd 2</b></td>
                <td>[[_displayTime(team.splash2,0)]]</td>
              </tr>
            </template>
            <template is="dom-if" if=[[_showTime(team.splash3)]]>
              <tr>
                <td><b>Tussentijd 3</b></td>
                <td>[[_displayTime(team.splash3,0)]]</td>
              </tr>
            </template>
            <template is="dom-if" if=[[_showTime(team.splash4)]]>
              <tr>
                <td><b>Tussentijd 4</b></td>
                <td>[[_displayTime(team.splash4,0)]]</td>
              </tr>
            </template>
            <template is="dom-if" if=[[_show(team.totaltime)]]>
              <tr>
                <td><b>Finishtijd</b></td>
                <td>[[_displayTime(team.totaltime,team.bonussecond)]]</td>
              </tr>
            </template>
            <template is="dom-if" if=[[team.times]]>
              <template is="dom-repeat" items="teams.times" as="times">
                <template is="dom-if" if=[[_showTime(times.splash1)]]>
                  <tr>
                    <template is="dom-if" if=[[rounds]]>
                      <td>Tussentijd 1 ronde [[index + 1]]</td>
                    </template>
                    <template is="dom-if" if=![[rounds]]>
                      <td>Tussentijd 1</td>
                    </template>
                    <td>[[_displayTime(times.splash1,0)]]</td>
                  </tr>
                </template>
                <template is="dom-if" if=[[_showTime(times.splash2)]]>
                  <tr>
                    <template is="dom-if" if=[[rounds]]>
                      <td>Tussentijd 2 ronde [[index + 1]]</td>
                    </template>
                    <template is="dom-if" if=![[rounds]]>
                      <td>Tussentijd 2</td>
                    </template>
                    <td>[[_displayTime(times.splash2,0)]]</td>
                  </tr>
                </template>
                <template is="dom-if" if=[[_showTime(times.splash3)]]>
                  <tr>
                    <template is="dom-if" if=[[rounds]]>
                      <td>Tussentijd 3 ronde [[index + 1]]</td>
                    </template>
                    <template is="dom-if" if=![[rounds]]>
                      <td>Tussentijd 3</td>
                    </template>
                    <td>[[_displayTime(times.splash3,0)]]</td>
                  </tr>
                </template>
                <template is="dom-if" if=[[_showTime(times.splash4)]]>
                  <tr>
                    <template is="dom-if" if=[[rounds]]>
                      <td>Tussentijd 4 ronde [[index + 1]]</td>
                    </template>
                    <template is="dom-if" if=![[rounds]]>
                      <td>Tussentijd 4</td>
                    </template>
                    <td>[[_displayTime(times.splash4,0)]]</td>
                  </tr>
                </template>
                <template is="dom-if" if=[[_show(times.totaltime)]]>
                  <tr>
                    <template is="dom-if" if=[[rounds]]>
                      <td>Finishtijd ronde [[index + 1]]</td>
                    </template>
                    <template is="dom-if" if=![[rounds]]>
                      <td>Finishtijd</td>
                    </template>
                    <td>[[_displayTime(times.totaltime,times.bonussecond)]]</td>
                  </tr>
                </template>
              </template>
            </template>
            <template is="dom-if" if=[[_show(team.rower1)]]>
              <tr>
                <td><b>Boeg</b></td>
                <td>[[team.rower1]]</td>
              </tr>
            </template>
            <template is="dom-if" if=[[_show(team.rower2)]]>
              <tr>
                <td><b>2</b></td>
                <td>[[team.rower2]]</td>
              </tr>
            </template>
            <template is="dom-if" if=[[_show(team.rower3)]]>
              <tr>
                <td><b>3</b></td>
                <td>[[team.rower3]]</td>
              </tr>
            </template>
            <template is="dom-if" if=[[_show(team.rower4)]]>
              <tr>
                <td><b>4</b></td>
                <td>[[team.rower4]]</td>
              </tr>
            </template>
            <template is="dom-if" if=[[_show(team.rower5)]]>
              <tr>
                <td><b>5</b></td>
                <td>[[team.rower5]]</td>
              </tr>
            </template>
            <template is="dom-if" if=[[_show(team.rower6)]]>
              <tr>
                <td><b>6</b></td>
                <td>[[team.rower6]]</td>
              </tr>
            </template>
            <template is="dom-if" if=[[_show(team.rower7)]]>
              <tr>
                <td><b>7</b></td>
                <td>[[team.rower7]]</td>
              </tr>
            </template>
            <template is="dom-if" if=[[_show(team.rower8)]]>
              <tr>
                <td><b>Slag</b></td>
                <td>[[team.rower8]]</td>
              </tr>
            </template>
            <template is="dom-if" if=[[_show(team.steername)]]>
              <tr>
                <td><b>Stuur</b></td>
                <td>[[team.steername]]</td>
              </tr>
            </template>
            <template is="dom-if" if=[[_show(team.coachnames)]]>
              <tr>
                <td><b>Choach</b></td>
                <td>[[team.coachnames]]</td>
              </tr>
            </template>
            <template is="dom-if" if=[[_show(team.comments)]]>
              <tr>
                <td><b>Commentaar</b></td>
                <td>[[team.comments]]</td>
              </tr>
            </template>
            <template is="dom-if" if="[[_showComment()]]">
              <tr>
                <td><b>Commentaar</b></td>
                <td>[[_comment()]]</td>
              </tr>
            </template>
          </tbody>
        </table>
      </paper-dialog-scrollable>
      <div class="buttons">
        <paper-button class="hover" dialog-dismiss>NAAR WEDSTRIJD</paper-button>
        <paper-button class="hover" dialog-confirm>SLUITEN</paper-button>
      </div>
    </paper-dialog>
  </template>


  <script>
    Polymer({
      is: 'team-modal',
      _show: function(val) {
        return val !== null && val !== '' && val !== undefined && val != 0;
      },
      _showComment: function() {
        if(this.teams)
          return this._show(this.team.times[0].comments);
        return false;
      },
      _comment: function () {
        return this.team.times[0].comments;
      },
      _showSubField: function(sub,field) {
        if (this._show(sub)) {
          return sub !== field;
        }
        return false;
      },
      _showTime: function(seconds) {
        if (this._show(seconds)) {
          return seconds !== '0.00';
        }
        return false;
      },
      _displayTime: function(time,bonussecond) {
        return formatTime(finalTime(time,bonussecond));
      },
      toggle: function(team) {
        this.team = team;
        this.$.modal.toggle();
      },
      properties: {
        team: {
          type: Array,
          notify: false,
          readOnly: false,
        },
        rounds: {
          type: Boolean,
          notify: false,
          readOnly: false,
          value: false,
        }
      },
    });
  </script>
</dom-module>
