<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../styles/shared-styles.html">
<link rel="import" href="../styles/shared-styles-button.html">
<link rel="import" href="../services/reggata.html">


<dom-module id="i-year-list">
    <template>
        <style include="shared-styles shared-styles-button">

            :host {
                text-align: center;
                box-sizing: border-box;
            }

            .yearButton {
                background-color: #0F0F0F;
                width: 100%;
                height: 30px;
                border-bottom: 1px solid #F8F8F8;
                color: #F8F8F8;
                position: relative;
                display: block;
            }

            .headerButton {
                background-color: rgb(56, 56, 56);
            }

            .yearButton:hover {
                background-color: rgb(53, 53, 53);
            }

            .shellTitleWrapper {
                width: 100%;
                max-width: 150px;
                height:44px;
            }

            .yearDropdown {
                height: 100vh;
                position: relative;
                border-top: 1px solid #F8F8F8;
            }
        </style>
        <template is="dom-if" if="[[selected]]">
            <div class="shellTitleWrapper">
                <button on-click="_toggleList" class="headerButton">
                    [[match]] ▴
                </button>
                <div class="yearDropdown">
                    <template is="dom-repeat" items="[[reggataList]]" as="year">
                        <button on-click="_openYear" class="yearButton">
                            [[year.jaar]]
                        </button>
                    </template>
                </div>
            </div>
        </template>
        <template is="dom-if" if="[[!selected]]">
            <div class="shellTitleWrapper">
                <button on-click="_toggleList" class="headerButton">
                    [[match]] ▾
                </button>
            </div>
        </template>
    </template>


    <script>
        class IYearList extends Polymer.Element {

            static get is() {
                return 'i-year-list';
            }

            connectedCallback() {
                super.connectedCallback();
                requestReggataList(this);
            }

            _openYear(e) {
                try {
                    this.set('path', '/' + this.match.split(' ')[0] + '/' + e.model.year.jaar);
                    this.set('selected', false);
                } catch (a) {
                    document.querySelector('my-app').ieWindowloc('/' + this.match.split(' ')[0] + '/' + e.model.year.jaar);
                }
                document.querySelector('my-app').toTop();
            }

            _toggleList(e) {
                this.set('selected', !this.selected);
            }

            /**
             * Create the list of years of the current match
             */
            _createList(newValue, oldValue) {
                const shortname = document.querySelector('my-app').getMatchShortName();
                if (!this.regattas) return;
                this.reggataList = this.regattas.regattas.filter(
                    function (match) {
                        return match.shortname === shortname;
                    }
                );
                this.reggataList.sort(function (a, b) {
                    return (+b.jaar) - (+a.jaar);
                });
            }

            static get properties() {
                return {
                    regattas: {
                        type: Array,
                        notify: true,
                        readOnly: false,
                        observer: '_createList'
                    },
                    reggataList: {
                        type: Array,
                        notify: false,
                        readOnly: false,
                    },
                    path: {
                        type: String,
                        notify: true,
                        readOnly: false,
                        observer: '_createList'
                    },
                    selected: {
                        type: Boolean,
                        notify: true,
                        readOnly: false,
                        value: false,
                    },
                    match: {
                        type: String,
                        notify: true,
                        readOnly: false,
                        observer: '_createList'
                    }
                };
            }
        }
        customElements.define(IYearList.is, IYearList);
    </script>
</dom-module>
