<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../styles/shared-styles.html">
<link rel="import" href="../services/reggata.html">


<dom-module id="i-year-list">
    <template>
        <style include="shared-styles">

            .dropDownMenu {
                opacity: 0.9;
                position: relative;
                top: 60px;
                background-color: #050505;
                width: 100%;
                max-width: 75px;
                max-height: 150px;
                z-index: 1;
                padding: 15px;
                box-shadow: 1px 2px 4px grey;
                overflow: scroll;
            }

            .dropDownItem {
                opacity: 1;
                height: 20px;
            }

            .match {
                height: 30px;
                width: 100%;
            }

        </style>
        <div>
            <template is="dom-if" if="[[selected]]">
                <div class="dropDownMenu">
                    <template is="dom-repeat" items="[[reggataList]]" as="year">
                        <div on-click="_openYear" class="dropDownItem">
                            <h4>[[year.jaar]]</h4>
                        </div>
                    </template>
                </div>
            </template>
            <template is="dom-if" if="[[!selected]]">
                <div>
                    <div on-click="_toggleList" class="match">
                        [[match]]
                    </div>
                </div>
            </template>
        </div>
    </template>


    <script>
        class IYearList extends Polymer.Element {

            static get is() {
                return 'i-year-list';
            }

            connectedCallback() {
                super.connectedCallback();
                requestReggataList(this);
            }

            _openYear(e) {
                try {
                    this.set('path', '/' + this.match.split(' ')[0] + '/' + e.model.year.jaar);
                    this.set('selected', false);
                } catch (a) {
                    document.querySelector('my-app').ieWindowloc('/' + this.match.split(' ')[0] + '/' + e.model.year.jaar);
                }
                document.querySelector('my-app').toTop();
            }

            _toggleList(e) {
                this.set('selected', true);
            }

            /**
             * Create the list of years of the current match
             */
            _createList(newValue, oldValue) {
                const shortname = document.querySelector('my-app').getMatchShortName();
                if (!this.regattas) return;
                this.reggataList = this.regattas.regattas.filter(
                    function(match) {
                        return match.shortname === shortname;
                    }
                );
                this.reggataList.sort(function(a, b) {
                    return (+b.jaar) - (+a.jaar);
                });
            }

            static get properties() {
                return {
                    regattas: {
                        type: Array,
                        notify: true,
                        readOnly: false,
                        observer: '_createList'
                    },
                    reggataList: {
                        type: Array,
                        notify: false,
                        readOnly: false,
                    },
                    path: {
                        type: String,
                        notify: true,
                        readOnly: false,
                        observer: '_createList'
                    },
                    selected: {
                        type: Boolean,
                        notify: true,
                        readOnly: false,
                        value: false,
                    },
                    match: {
                        type: String,
                        notify: true,
                        readOnly: false,
                        observer: '_createList'
                    }
                };
            }
        }
        customElements.define(IYearList.is, IYearList);
    </script>
</dom-module>
