/*shell*/
.shell {
	height  : 100vh;
	width   : 100vw;
	overflow: hidden;
}

.topButtonWrapper {
	display: flex;
}

.headerImg {
	padding         : 4px;
	background-color: #0F0F0F;
}

.headerWrapper {
	background-color: #0F0F0F;
	display         : flex;
	height          : 44px;
}

.headerButton {
	display         : inline;
	color           : #F8F8F8;
	background-color: inherit;
	align-items     : stretch;
	padding-left    : 12px;
	padding-right   : 12px;
}

.headerButton:hover {
	background-color: rgb(53, 53, 53);
}

.shellTitleWrapper {
	width    : 100%;
	max-width: 150px;
	overflow : hidden;
}

.yearDropdown {
	height: 100vh;
}

.shellTitle {
	height       : 44px;
	width        : 100%;
	margin-bottom: 1px;
}

.shellTitleActive {
	background-color: #000000;
}

.shellGoToResults {
	margin-left: auto;
}

.shellGoToLive {}

.hamburger {
	padding  : 6px 8px 10px;
	font-size: 20px;
}

.yearButton {
	width              : 100%;
	height             : 30px;
	border-bottom-style: solid;
	border-bottom-color: #F8F8F8;
	border-bottom-width: 1px;
	background-color   : #0F0F0F;
	color              : #F8F8F8;
	position           : relative;
	z-index            : 2;
}

.yearButton:hover {
	background-color: rgb(53, 53, 53);
}
/*end shell*/
/* start home*/
.homeWrapper {
	background-color: #F8F8F8;
	height          : 100vh;
}

.searchBar {
	display: flex;
	height : 40px;
	width  : calc(100% - 8px);
	padding: 4px;
}

.searchInput {
	width       : 100%;
	overflow    : hidden;
	padding-left: 12px;
}

.submitSearch {
	width           : 60px;
	background-color: #0F0F0F;
}

.magnifyGlass {
	-webkit-transform: rotate(-45deg);
	-moz-transform   : rotate(-45deg);
	-o-transform     : rotate(-45deg);
	transform        : rotate(-45deg);
	font-size        : x-large;
	color            : #F8F8F8;
}

.searchSeperator {
	border-bottom-style: solid;
	border-bottom-color: rgba(50, 50, 50, 1);
	border-bottom-width: 0;
	margin-bottom      : 4px;
}
/*end home style*/
/*start field style*/
.fields {
	margin-top: 10px;
}

.totalFieldsWrapper {
	width : 100vw;
	height: 100%;
}

.fieldFilterWrapper {
	display     : flex;
	height      : 40px;
	width       : calc(100% - 8px);
	margin-left : auto;
	margin-right: auto;
}

.fieldFilter {
	height             : 100%;
	width              : 25%;
	background-color   : inherit;
	border-style       : solid;
	border-color       : rgba(80, 80, 80, 0.9);
	border-width       : 0;
	border-bottom-width: 1px;
}

.activeFieldFilterButton {
	border-width       : 1px;
	border-bottom-width: 0;
}

.fieldTextImageWrapper {
	display       : inline-flex;
	align-items   : center;
	margin-left   : auto;
	margin-right  : auto;
	opacity       : 0.3;
	padding-bottom: 0;
}

.activeFieldTextImageWrapper {
	opacity       : 1;
	padding-bottom: 1px;
}

.fieldImg {
	max-height : 18px;
	margin-left: 5px;
}

.fieldText {
	font-size: medium;
}

.menFieldsWrapper {
	display: flex;
}

.womenFieldsWrapper {
	display   : flex;
	margin-top: 30px;
}

.fieldsWrapper {
	width     : 50vw;
	text-align: center;
}

.fieldTitle {}

.singleField {
	display         : grid;
	height          : 20px;
	margin-left     : auto;
	margin-right    : auto;
	width           : 80px;
	background-color: transparent;
	color           : #0089d2;
	text-align      : right;
	/*looks good for some reason*/
	padding-right   : 23px;
}
/* end field style*/
/*start blok style*/
.blockTitleWrapper {
	display      : flex;
	margin-top   : 10px;
}

.blockTitle {
	color    : black;
	font-size: x-large;
}

.blockStartTime {
	font-size  : x-large;
	margin-left: 8px;
}

.blocksWrapper {
	height    : calc(100vh - 92px);
	width     :100%;
	overflow-y: scroll;
}

.blockFieldWrapper {
	display: flex;
	background-color: lavender;
}

.darkFieldBG {
	background-color: lightgray;
}

.singleBlockWrapper {
	display: grid;
	border-bottom: 1px solid;
}

.blockFieldName {
	width           : 100px;
	text-align      : right;
	padding-right   : 30px;
	height          : 20px;
	background-color: transparent;
	color           : #0089d2;
}

.blockFieldStartTime {
	margin-left: auto;
	margin-right: 34px;
}

.blockDescriptionWrapper {
	display: flex;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.blockDescriptionField {
	font-size: small;
	font-style: italic;
	align-self: flex-end;
	margin-left: 34px;
}

.blockDescriptionTime {
	font-size: small;
	width: 60px;
	font-style: italic;
	margin-left: auto;
	align-self: flex-end;
	margin-right: 18px;
}
